ul {
    list-style-type: none;
    padding: 0;
}

.apartmentOnListView {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 3fr;
    grid-gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
    align-items: center;
}
.apartmentOnListView:hover {
    border-radius: 10px;
    -webkit-box-shadow: -2px 7px 14px 0 rgba(163, 163, 163, 1);
    -moz-box-shadow: -2px 7px 14px 0 rgba(163, 163, 163, 1);
    box-shadow: -2px 7px 14px 0 rgba(163, 163, 163, 1);
}

.apartmentSmallPicture {
    border-radius: 10px;
    background-size: contain;
    height: 100px;
    justify-self: center;
}

.closeText {
    line-height: 0.5;
}

.buttonPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.photo {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 450px;
}

.smallerInput {
    width: 100%;
    text-align: center;
}

.Filters {
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.iconButton {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    float: right;
    background-color: white;
    border: 0;
}

.iconButton:hover {
    background-color: #e5e5e5;
}

.sortButton {
    width: auto;
    height: 30px;
    border-radius: 7px;
    border: 2px solid #e5e5e5;
    text-underline: dash;
    margin: 2px;
    background-color: white;
}
.sortButton:hover {
    background-color: #e5e5e5;

}