@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.centered {
    text-align: center;
}

.mainContainer {
    font-size: 14px;
}

.smallerText {
    font-size: 12px;
}

.centeredDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.whiteBox {
    background-color: white;
    border-radius: 50px;
    padding: 100px;
}

.background {
    background-image: url('/public/apartmentMainView.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.titleContainer {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* text */
.textAlignedCenter {
    text-align: center;
}

.text14 {
    font-size: 14px;
}

.text12 {
    font-size: 12px;
}

/* buttons */
button {
    margin: 3px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.greenButton { background-color: darkseagreen; }
.greenButton:hover { background-color: #607e60; color: white; }

.whiteButton { background-color: white; border: 1px solid grey !important; }
.whiteButton:hover { background-color: #e6e6e6; }

.redButton { background-color: red; color: white; }
.redButton:hover { background-color: darkred; }

.longerButton { width: 200px; }

/* links */
.hyperlink { cursor: pointer; align-self: flex-start; }
.hyperlinkBlue { color: #0077ff; text-decoration-line: underline; }


/* input section */
input {
    margin-top: 3px;
    height: 35px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

.errorLabel {
    color: red;
    font-size: 12px;
    float: right;
}

.debugBar {
    position: fixed;
    bottom: 50%;
    left: 0;
    font-size: 12px;
    border: 2px solid red;
    background-color: white;
}

.w300 {
    width: 300px;
}

.topMargin {
    margin-top: 10px;
    font-size: 12px;
}