ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0 0 0;
}

.apartmentOnListView {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 90%;
    border: 2px solid grey;
    border-radius: 10px;
}

.apartmentSmallPicture {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.closeText {
    line-height: 0.5;
}

.buttonPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.photo {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 450px;
}